<div class="hero-unit">
  <h1>Barbarizantes</h1><span>é uma anexo do trabalho desenvolvido: <small>"Tatuagens - Existe perigo nelas?"</small>. O site é uma ferramenta explicativa, que tem como função apresentar o conteúdo trabalhado a um maior número de pessoas, pela difusão que a internet permite.</span>
  <p>
    <small>Com o trabalho <span>"Tatuagens - Existe perigo nelas?"</span>, pretende-se falar sobre diferentes assuntos referentes ao tema das tatuagens, uma vez que o número de pessoas que se submete a esse processo vem aumentando a cada dia. Desde adultos até adolescentes, cada vez mais jovens, as tatuagens ou “tattoos", como costumam ser chamadas, estão conquistando um lugar no corpo de muita gente. Mas será que esse é um processo totalmente seguro? As tatuagens oferecem algum risco à saúde?</small>
  </p>
</div>

<!-- FEATURETTES -->
<div class="featurette show">
  <img class="pull-right" src="/img/featurettes/f01.jpg" />
  <h2 class="featurette-heading">
    O que são<br />
    <span class="muted">e como funcionam</span>
  </h2>
  <p class="lead">A tatuagem ou dermopigmentação é uma marca permanente fixada na pele pela aplicação de tinta, normalmente de origem mineral, através de uma agulha, que penetra cerca de um milímetro na pele e lá coloca uma gota de tinta a cada perfuração.</p>
  <div class="hide">
    <p class="lead justify">A pele é formada por três camadas: a derme, a epiderme e a hipoderme, sendo que a tatuagem fica na derme. Durante a sua execução, a agulha fura a pele, mais necessariamente a epiderme, a junção dermo-epidérmica e a camada papilar (superior) da derme, literalmente rasgando-as. Toda essa perfuração e ferimentos são necessários para que haja a fixação do pigmento na derme, a segunda camada da pele é a única que proporciona uma permanência da tinta, pois não sofre renovação de células.</p>
    <p class="lead justify">Quando a tatuagem é feita, o pigmento injetado na derme acaba se espalhando para a epiderme também. A tinta, uma vez que é uma substância estranha para o organismo, quando injetada é reconhecida como tal, e, assim, as gotículas presentes na epiderme são eliminadas.</p>
    <p class="lead justify">É na derme onde estão, entre muitas outras substâncias, o colágeno. A derme também possui células responsáveis pela resposta imune, como ocorre na epiderme, mas não sofre a renovação. Uma reação em forma de resposta é desencadeada e os mastócitos, que têm sua função mais comum nas reações alérgicas, são ativados. A tinta é envolvida e fica presa pelos fibroblastos (células constituintes do tecido conjuntivo responsáveis por manter a estrutura desse tecido) e mantida no lugar pelos mastócitos e, como os fibroblastos geram o colágeno, o desenho é fixado como uma cicatriz na derme.</p>
  </div>
</div>

<hr class="featurette-divider" />

<div class="featurette show">
  <img class="pull-left" src="/img/featurettes/f02.jpg" />
  <h2 class="featurette-heading">
    Saúde:<br />
    <span class="muted">perigos</span>
  </h2>
  <p class="lead">Os riscos de uma tatuagem são inúmeros, começando por sua execução. É preciso ir a um lugar extremamente seguro, pois os danos à saúde podem ir desde irritações na pele até à contração de doenças mais graves, como Hepatite.</p>
  <div class="hide">
    <h2>Alergias</h2>
    <p class="lead">As reações alérgicas, apesar de não serem tão comuns, podem acontecer ao se fazer uma tatuagem. A principal causa são as substâncias utilizadas nas tintas, normalmente de origem mineral e feitas de diversos compostos químicos, com componentes como ferro, mercúrio e chumbo, todos tóxicos, podendo causar vermelhidão, coceira, e sensação de queimadura. A tinta mais propícia a alergias na pessoa tatuada é a vermelha. </p>
    <p class="lead">Também são usados outros produtos que propiciam a contração de uma alergia, como a vaselina, usada para estancar o sangue, ou a pomada que usam após o processo, que varia de tatuador para tatuador.</p>

    <h2>Infecções</h2>
    <p class="lead">A máquina de tatuagem faz inúmeros furos na pele durante todo o processo, propiciando a entrada de bactérias. Quando os materiais não são devidamente esterilizados, os riscos são graves e as chances de se contrair uma infecção são grandes. É também de enorme importância certificar-se de que os materiais descartáveis usados pelo tatuador, como a agulha, são sempre dispensados.</p>
    <p class="lead">Os cuidados da própria pessoa após a realização da tatuagem também são essenciais para evitar problemas. Algumas medidas de higiene devem ser adotadas, como aplicar sempre a pomada adequada, manter a área limpa, não esfregar, evitar exposição ao sol e seguir todas as orientações dadas pelo tatuador.</p>
    <p class="lead">Tatuagens infeccionadas podem ser bastante graves, e se não forem tratadas podem levar a problemas mais sérios ainda, como a infecção do sangue, comprometendo todo o organismo. Alguns sintomas de que há uma infecção são: febre; inchaço do local; vermelhidão; dor, que pode variar quanto a sua intensidade de acordo com a gravidade do problema; pus ou secreção amarela/verde; mau cheiro proveniente da tatuagem; sensação de que o calor irradia do local.</p>

    <h2>Hepatite C e AIDS</h2>
    <p class="lead">A Hepatite C (vírus HCV), perigosa inflamação do fígado e a principal causa de câncer no órgão, está diretamente ligada à tatuagem, uma vez que a agulha entra em contato com o sangue e fluídos corporais. O contágio, que ocorre de pessoa para pessoa, também se dá pela contaminação da tinta e/ou pela má esterilização dos aparelhos usados.</p>
    <p class="lead">Cem vezes mais contagioso que o vírus da AIDS e bastante resistente, a Hepatite mata mais de um milhão de pessoas todos os anos no mundo. O vírus da Hepatite C sobrevive até quatro dias nas tintas, aumentando ainda mais os riscos. Além disso, é uma doença silenciosa, ou seja, podem passar-se até mesmo anos antes de a pessoa descobrir que contraiu o vírus, podendo estar em um estágio mais avançado quando for diagnosticada. </p>
    <p class="lead">Dessa forma, é importante conferir se todos os instrumentos são esterilizados; se os restos de tinta de uma tatuagem são jogados fora; se as tintas são atóxicas e especificamente para o uso na ocasião; verificar se o local é limpo, devendo ser semelhante a um consultório médico em questão de higiene, e certificar-se de que o local é autorizado pela Secretaria Municipal de Saúde e Vigilância Sanitária.</p>
    <p class="lead">O mesmo vale para a AIDS. Embora não haja casos cientificamente comprovados de ter-se contraído HIV por meio de tatuagens, existe sim uma possibilidade, já que há o contato da agulha com o sangue e fluídos corporais. O que diminui esse risco é o fato do vírus sobreviver menos de 12 horas fora do corpo. Mesmo assim, ainda é preciso ter todos os cuidados e medidas necessários, pois mesmo que ainda não haja casos registrados de tal acontecimento, com um pequeno deslize e falta de cuidados pode haver.</p>
  </div>
</div>

<hr class="featurette-divider" />

<div class="featurette show">
  <img class="pull-right" src="/img/featurettes/f03.jpg" />
  <h2 class="featurette-heading">
    Tatuagens<br />
    <span class="muted">de henna</span>
  </h2>
  <p class="lead">"Henna" é o nome árabe de uma árvore <em>(Lawsonia inermis)</em> de onde é extraído o corante. Seu uso para desenhar sobre a pele é bastante antigo, e acredita-se que teve origem no Oriente Médio, entre os povos árabes, cerca de 5.000 anos atrás, mas há outros que afirmam ter surgido na Índia.</p>
  <div class="hide">
    <p class="lead">O pó da henna puro, feito das folhas secas e/ou casca da árvore trituradas, tem cor verde puxado para o castanho. A henna possui uma molécula denominada Lawsone, ou ácido hennotânico, que é liberada quando ocorre a quebra da celulose. Isso, a hidrólise (reação química de quebra ocorrida junto da água), somente ocorre por meio da adição de acidez, que irá desestabilizar a celulose enquanto mantêm intactas as moléculas de Lawsone. </p>
    <p class="lead">Geralmente, nas misturas de pasta de henna tradicionais, esse ácido adicionado é o suco de limão. Outros produtos também são adicionados, mas para potencializar o corante (como café, chá verde, etc.), para dar um cheiro melhor (como óleos essenciais) ou para dar uma textura mais suave (como fontes de açúcar). </p>
    <p class="lead">A pasta de henna também deve ter cor verde/castanha.  No entanto, quando essa é colocada sobre a pele, a mesma é tingida de cor marrom acobreado. Isso acontece devido ao próprio corante. O verde da pasta de henna se deve à clorofila presente nela e, assim, quando a mistura é colocada na pele, o que se fixa é o corante, sendo a pasta removida.</p>
    <p class="lead"><strong>Cuidado:</strong> Não existe henna preta. Essa só é gerada pela adição de produtos químicos. As tatuagens de henna, ao contrário do que muita gente pensa, não são tão inofensivas assim. Elas também oferecem vários riscos à saúde, sendo que alergias na pele são comuns de se ocorrerem. </p>
    <p class="lead">Muito popular entre crianças e adolescentes, principalmente nas praias, a tatuagem de henna tem diversas substâncias tóxicas adicionadas à sua tinta com diversos fins, como, por exemplo, parafenilenodiamina, também chamada abreviadamente de PPD, que deixa a secagem mais rápida e melhora a coloração. </p>
    <p class="lead">Porém, essas substâncias podem provocar alergias e queimaduras, desde as mais simples até as mais graves, dependendo do organismo da pessoa. É recomendado que antes de fazer uma tatuagem de henna deve-se observar o tom da tinta. A henna natural tem cor próxima ao marrom escuro. Quando ela é misturada com outros produtos, sua cor se torna mais escura, podendo gerar até sérias alergias e infecções.</p>
    <p class="lead">Um dos casos mais famosos é do menino Charlie, que tinha apenas quatro anos na época, um britânico que ficou com uma cicatriz após ter uma queimadura provocada pela henna. Os principais sintomas de que há uma alergia ou queimadura são: coceira, vermelhidão, inflamação e, em alguns casos, inchaço e formação de bolhas. Caso haja alguma anormalidade, é preciso ir a um médico para que ele avalie tudo e passe o tratamento adequado, que inclui antialérgicos, pomadas e, dependendo da gravidade do caso, antibióticos.</p>
  </div>
</div>