<div class="page-header">
  <h1>Os jovens e a tatuagem</h1>
</div>
<div class="container-narrow gray">
<p>Para ter uma maior noção a respeito do conhecimento das pessoas em relação aos perigos da realização de uma tatuagem, foi-se realizada uma pesquisa, representada pelo gráfico abaixo, com jovens de, em média, 13 a 14 anos para saber quantos têm intenção de fazer uma tatuagem quando forem mais velhos, e, desses que têm a intenção, quantos conhecem os perigos relacionados à mesma.</p>

<img class="center border-round" src="/img/pesquisa.jpg" />

<p>Foram entrevistados em torno de 35 estudantes de uma escola da rede particular - região metropolitana de Belo Horizonte - sendo que 80% dos entrevistados têm a intenção de fazer uma tatuagem ao crescerem. A partir desses estudantes que têm intenção, foi feita uma nova pesquisa para saber se eles têm conhecimento dos riscos relacionados à mesma: 37,5% sabiam dos riscos oferecidos, e 62,5% deles não conheciam os perigos, riscos e doenças que podem ser aderidos pela tatuagem.</p>

<p>Assim, é notório que mais da metade dos jovens que pretendem algum dia ter uma tatuagem não fazem a menor ideia do que pode acontecer. Também é possível observar que grande parte pretende ter pelo menos uma. Isso ocorre em influência, principalmente, da mídia e da internet, que mostram isso como algo “legal” e “bonito”, mas não é sempre que apresentam também o outro lado, divulgando os perigos e consequências.</p>

<p>Foi realizada também uma entrevista com pessoas tatuadas aleatórias, com uma média de idade de 30 a 45 anos, algumas inclusive paradas nas ruas.</p>

<table>
  <thead>
    <tr><th colspan="4" align="center">Entrevistas</th></tr>
  </thead>
  <tbody> 
    <tr>
      <th>Nome</th>
      <th>Com que idade fez a tatuagem?</th>
      <th>Tinha noção dos riscos na época?</th>
      <th>Tem algum arrependimento?</th>
    </tr>
    <tr>
      <td>Francisco</td>
      <td align="center">15</td>
      <td>Não, na época não sabia de nada disso.</td>
      <td>Sim. Arrepende-se muito.</td>
    </tr>
    <tr>
      <td>Roberta</td>
      <td align="center">27</td>
      <td>Não, não sabia.</td>
      <td>Não.</td>
    </tr>
    <tr>
      <td>Juliana</td>
      <td align="center">25</td>
      <td>Não.</td>
      <td>Sim.</td>
    </tr>
    <tr>
      <td>Daniel</td>
      <td align="center">18</td>
      <td>Sim, na época já sabia dos riscos.</td>
      <td>Não, inclusive fará mais.</td>
    </tr>
    <tr>
      <td>Roberto</td>
      <td align="center">19</td>
      <td>Não. Sabia apenas dos riscos sobre a AIDS.</td>
      <td>Não</td>
    </tr>
    <tr>
      <td>Joelton</td>
      <td align="center">31</td>
      <td>Sim, por isso procurou um local adequado</td>
      <td>Não. Diz que tatuagem é como um vício</td>
    </tr>
    <tr>
      <td>Gabrielle</td>
      <td align="center">17</td>
      <td>Sim.</td>
      <td>Não, quer outra.</td>
    </tr>
    <tr>
      <td>Tânia</td>
      <td align="center">27</td>
      <td>Sim.</td>
      <td>Não, quer até fazer mais.</td>
    </tr>
  </tbody>
</table>

<p>Podemos perceber através da tabela acima que a maioria fez a tatuagem quando ainda eram relativamente novos. De lá para cá, a média de pessoas que conhecem ou não os riscos não teve uma alteração tão grande, mas cada vez menos as pessoas se mantêm informadas. A diferença, e consequentemente um problema, é que as pessoas estão tatuando-se cada vez mais novas, sendo que isso representa um fator de grande risco, pois na maioria das vezes ainda não possuem maturidade e responsabilidade suficiente para tomarem uma decisão como essa, que marca definitivamente o corpo e a vida dessas pessoas. Há, ainda, outro ponto perceptível na tabela: a maioria não se arrepende e quer até fazer mais tatuagens, como se fosse realmente um vício, de acordo com a própria citação de um dos entrevistados.</p>
</div>  <!-- /container-narrow -->

<div class="page-header">
  <h1>Entrevistas</h1>
</div>
<div class="container-narrow gray">
  <p><iframe width="420" height="315" src="//www.youtube.com/embed/yAxYoUUosVY?rel=0" frameborder="0" allowfullscreen></iframe></p>
</div>  <!-- /container-narrow -->
