<div class="hero-unit">
  <h1>Bárbara Gomes Ribeiro,</h1><span> nascida em 22 de fevereiro de 2000, na cidade de Belo Horizonte, reside em Contagem, Minas Gerais. Estuda no Colégio Crescer, uma instituição de ensino criada em 1996, que se estende até o Ensino Médio atualmente.</span>
  <p>
    <img class="pull-left border-round" src="/img/barbara.jpg" />
    <small>
    Em abril de 2013, surgiu uma oportunidade única e jamais vivida para ela nessa escola: Um trabalho aplicado na matéria de Geografia que concorreria a ser inscrito na <span>1ª FEBRAT - Feira Brasileira de Ciência, Tecnologia e Inovação dos Colégios de Aplicação e Escolas Técnicas das Redes Pública e Privada.</span>
    Após muitas pesquisas, esforço e estudos, seu trabalho foi finalmente inscrito, e, para surpresa e emoção, foi um dos finalistas. Assim, tudo começou e uma longa jornada atrás da elaboração de mais pesquisas e preparações para a FEBRAT teve início.
    </small>
  </p>
</div>

<hr class="featurette-divider" />

<div class="page-header">
  <h1>FEBRAT <small>Feira Brasileira de Ciência, Tecnologia e Inovação dos Colégios de Aplicação e Escolas Técnicas das Redes Pública e Privada</small></h1>
</div>
<div class="container-narrow gray">
<p>A 1ª FEBRAT – Feira Brasileira de Ciência, Tecnologia e Inovação dos Colégios de Aplicação e Escolas Técnicas das Redes Pública e Privada – é um projeto financiado pelo Conselho Nacional de Desenvolvimento Científico e Tecnológico (CNPq), Ministério da Educação (MEC), Secretaria de Educação Básica (SEB), Ministério de Ciências e Tecnologia (MCT), Secretaria de Ciência e Tecnologia para Inclusão Social (SECIS), Coordenação de Aperfeiçoamento de Pessoal de Nível Superior (CAPES), implantado pela Universidade Federal de Minas Gerais (UFMG) em âmbito nacional.</p>
<p>A 1ª FEBRAT é um projeto proposto pelo Centro Pedagógico: Escola de Educação Básica e Profissional da Universidade Federal de Minas Gerais (CP-EBAP-UFMG) visando à integração entre o conhecimento gerado a partir de instituições educacionais de todo o país, à socialização da produção do conhecimento e à premiação dos trabalhos de maior relevância para sua área.</p>
<p>A Feira envolverá trabalhos desenvolvidos por alunos da Educação Básica e Técnica sob a orientação de professores das diferentes áreas de conhecimento. O tema adotado é “Ciência, Saúde e Esporte”, em consonância com a Semana Nacional de Ciência e Tecnologia de 2013, evento sob a responsabilidade do Ministério da Ciência, Tecnologia e Inovação.</p>
<p>Este projeto vem concretizar um propósito do Centro Pedagógico da UFMG de estreitar o relacionamento e estabelecer parcerias entre as Instituições Federais de Ensino Superior, as Escolas Técnicas e os Colégios de Aplicação.</p>
<p>O principal público-alvo atuante na realização da 1ª FEBRAT são estudantes, dos 1º, 2º e 3º ciclos de escolarização, e dos 1º, 2º e 3º anos do ensino médio, regularmente matriculados, respectivamente, nos colégios de aplicação vinculados às instituições Públicas ou Privadas de Ensino Superior e nas Escolas Técnicas Públicas e Privadas de todo o país, organizados em duplas e seus respectivos professores orientadores.</p>
<p class="big">A Feira irá ocorrer nos dias 21, 22, 23 e 24 de Outubro de 2013, durante os períodos da manhã e tarde, respeitando a seguinte programação:</p>
<blockquote>
<p><strong>Dia 21 – das 9h às 17h:</strong> Montagem dos stands pelas equipes.
<span><strong>– 17h:</strong> Cerimônia de abertura da 1ª FEBRAT</span></p>
<p><strong>Dia 22 – das 9 às 17h:</strong> Apresentação e visitação dos trabalhos e avaliação pela comissão
julgadora.</p>
<p><strong>Dia 23 – das 9h às 17h:</strong> Apresentação e visitação dos trabalhos e avaliação pela comissão
julgadora.
<span><strong>– 18h:</strong> Cerimônia de premiação e encerramento da 1ª FEBRAT</span></p>
<p><strong>Dia 24 – das 9h às 12h:</strong> Desmontagem dos stands pelas equipes.</p>
</blockquote>
Também são convidados para visitar a Feira os estabelecimentos de ensino Públicos e Privados de Belo Horizonte, município onde ocorrerá o evento, regiões metropolitanas e demais instituições interessadas de todo o País. Além de poderem assistir às exposições dos trabalhos selecionados para a Feira, os visitantes poderão visitar o Museu Itinerante PONTO UFMG e sua exposição externa.
</div>